#project specific

local.properties

npm-debug.log

#env/ide
*.class
*.jar
*.war
*.ear
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.iml
*.ipr
*.iws
.idea/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.*
!.gitignore
!.editorconfig
!.bowerrc
!.jshintrc
!.gitattributes
!.travis.yml
*~
src/liferay.properties
target/
test-output/
test_output/
/target
node_modules/
nb-configuration.xml
nbactions.xml
nbproject
/Scripts/
